@charset "ISO-8859-1";

body {
	background-image: url("/images/AfterLoginBg.jpg");
	background-size: cover;
}

.profile-container {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.8);
	width: 60%;
	margin: 0 auto;
	margin-top: 5%;
	border: 2px dotted #ccc;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container table {
	width: 100%;
}

.profile-container td {
	padding: 10px;
}

.profile-container input {
	width: 120%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#popup {
	display: none;
	position: fixed;
	top: 20%;
	width: 500px;
	height: 275px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	z-index: 1000; /* ensure it appears above other content */
}

#popup img {
	position: absolute;
	top: -45px; /* adjust this value as per your requirement */
	left: 50%;
	transform: translateX(-50%);
}
.text-styling{
    font-weight: 600;
}